# -*- encoding: utf-8 -*-

{{> api_info}}

$:.push File.expand_path("../lib", __FILE__)
require "{{gemName}}/version"

Gem::Specification.new do |s|
  s.name        = "{{gemName}}{{^gemName}}{{{appName}}}{{/gemName}}"
  s.version     = VSphereAutomation::{{moduleName}}::VERSION
  s.platform    = Gem::Platform::RUBY
  s.authors     = ["{{gemAuthor}}{{^gemAuthor}}OpenAPI-Generator{{/gemAuthor}}"]
  s.email       = ["{{gemAuthorEmail}}{{^gemAuthorEmail}}{{infoEmail}}{{/gemAuthorEmail}}"]
  s.homepage    = "{{gemHomepage}}{{^gemHomepage}}https://openapi-generator.tech{{/gemHomepage}}"
  s.summary     = "{{gemSummary}}{{^gemSummary}}{{{appName}}} Ruby Gem{{/gemSummary}}"
  s.description = "{{gemDescription}}{{^gemDescription}}{{{appDescription}}}{{^appDescription}}{{{appName}}} Ruby Gem{{/appDescription}}{{/gemDescription}}"
  {{#gemLicense}}
  s.license     = '{{{gemLicense}}}'
  {{/gemLicense}}
  {{^gemLicense}}
  s.license     = "Unlicense"
  {{/gemLicense}}
  s.required_ruby_version = "{{{gemRequiredRubyVersion}}}{{^gemRequiredRubyVersion}}>= 1.9{{/gemRequiredRubyVersion}}"
  {{^is-runtime}}
  s.add_runtime_dependency 'vsphere-automation-runtime', '~> {{gemVersion}}'
  {{^is-cis}}
  s.add_runtime_dependency 'vsphere-automation-cis', '~> {{gemVersion}}'
  {{/is-cis}}
  {{/is-runtime}}

  s.add_development_dependency 'bundler', '~> 2.0'
  s.add_development_dependency 'pry', '~> 0.12.2'
  s.add_development_dependency 'rake', '~> 12.3'
  s.add_development_dependency 'rspec', '~> 3.7'
  s.add_development_dependency 'rubocop', '~> 0.73.0'
  s.add_development_dependency 'vcr', '~> 5.0'
  s.add_development_dependency 'webmock', '~> 3.6'

  s.files         = `find *`.split("\n").uniq.sort.select { |f| !f.empty? }
  s.test_files    = `find spec/*`.split("\n")
  s.executables   = []
  s.require_paths = ["lib"]
end
