=begin
#vcenter

#VMware vCenter Server provides a centralized platform for managing your VMware vSphere environments

OpenAPI spec version: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.2.3

=end

require 'uri'

module VSphereAutomation
  module VCenter
  class DeploymentInstallPscReplicatedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checks whether the provided remote PSC is reachable and can be replicated.
    # @param [Hash] opts the optional parameters
    # @option opts [VcenterDeploymentInstallPscReplicatedCheck] :vcenter_deployment_install_psc_replicated_check 
    # @return [VcenterDeploymentInstallPscReplicatedCheckResult]
    def check(opts = {})
      data, _status_code, _headers = check_with_http_info(opts)
      data
    end

    # Checks whether the provided remote PSC is reachable and can be replicated.
    # @param [Hash] opts the optional parameters
    # @option opts [VcenterDeploymentInstallPscReplicatedCheck] :vcenter_deployment_install_psc_replicated_check 
    # @return [Array<(VcenterDeploymentInstallPscReplicatedCheckResult, Fixnum, Hash)>] VcenterDeploymentInstallPscReplicatedCheckResult data, response status code and response headers
    def check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeploymentInstallPscReplicatedApi.check ...'
      end
      # resource path
      local_var_path = '/vcenter/deployment/install/psc/replicated?action=check'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'vcenter_deployment_install_psc_replicated_check'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VCenter::VcenterDeploymentInstallPscReplicatedCheckResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeploymentInstallPscReplicatedApi#check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
