=begin
#appliance

#The vCenter Server Appliance is a preconfigured Linux-based virtual machine optimized for running vCenter Server and associated services.

OpenAPI spec version: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.2.3

=end

require 'uri'

module VSphereAutomation
  module Appliance
  class NetworkingDnsDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add domain to DNS search domains.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplianceNetworkingDnsDomainsAdd] :appliance_networking_dns_domains_add 
    # @return [nil]
    def add(opts = {})
      add_with_http_info(opts)
      nil
    end

    # Add domain to DNS search domains.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplianceNetworkingDnsDomainsAdd] :appliance_networking_dns_domains_add 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingDnsDomainsApi.add ...'
      end
      # resource path
      local_var_path = '/appliance/networking/dns/domains'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'appliance_networking_dns_domains_add'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingDnsDomainsApi#add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get list of DNS search domains.
    # @param [Hash] opts the optional parameters
    # @return [ApplianceNetworkingDnsDomainsListResult]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # Get list of DNS search domains.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplianceNetworkingDnsDomainsListResult, Fixnum, Hash)>] ApplianceNetworkingDnsDomainsListResult data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingDnsDomainsApi.list ...'
      end
      # resource path
      local_var_path = '/appliance/networking/dns/domains'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Appliance::ApplianceNetworkingDnsDomainsListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingDnsDomainsApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set DNS search domains.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplianceNetworkingDnsDomainsSet] :appliance_networking_dns_domains_set 
    # @return [nil]
    def set(opts = {})
      set_with_http_info(opts)
      nil
    end

    # Set DNS search domains.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplianceNetworkingDnsDomainsSet] :appliance_networking_dns_domains_set 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingDnsDomainsApi.set ...'
      end
      # resource path
      local_var_path = '/appliance/networking/dns/domains'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'appliance_networking_dns_domains_set'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingDnsDomainsApi#set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
