# Copyright (c) 2018-2019 VMware, Inc.  All Rights Reserved.
# SPDX-License-Identifier: MIT

# DO NOT MODIFY. THIS CODE IS GENERATED. CHANGES WILL BE OVERWRITTEN.

# esx - No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)


require 'uri'

module VSphereAutomation
  module ESX
  class HclReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the location {@link Location} information for downloading a compatibility report.
    # @param report identifier of hardware compatiblity report to be downloaded.
    # @param [Hash] opts the optional parameters
    # @return [EsxHclReportsLocation|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|]
    def get(report, opts = {})
      data, _status_code, _headers = get_with_http_info(report, opts)
      data
    end

    # Returns the location {@link Location} information for downloading a compatibility report.
    # @api private
    # @param report identifier of hardware compatiblity report to be downloaded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EsxHclReportsLocation|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|, Fixnum, Hash)>]  data, response status code and response headers
    def get_with_http_info(report, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HclReportsApi.get ...'
      end
      # verify the required parameter 'report' is set
      if @api_client.config.client_side_validation && report.nil?
        fail ArgumentError, "Missing the required parameter 'report' when calling HclReportsApi.get"
      end
      # resource path
      local_var_path = '/api/esx/hcl/reports/{report}'.sub('{' + 'report' + '}', report.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '200' => 'ESX::EsxHclReportsLocation',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	  '500' => 'ESX::VapiStdErrorsError',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HclReportsApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
