# Copyright (c) 2018-2019 VMware, Inc.  All Rights Reserved.
# SPDX-License-Identifier: MIT

# DO NOT MODIFY. THIS CODE IS GENERATED. CHANGES WILL BE OVERWRITTEN.

# esx - No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)


require 'uri'

module VSphereAutomation
  module ESX
  class HealthPerspectivesChecksDisabledApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the set of checks that are disabled for the given perspective.
    # @param perspective { 1. A Perspective defines a desired state, against which system health status is reported. }, { 2. The perspective for which to disable the checks. }
    # @param [Hash] opts the optional parameters
    # @return [Array<String>|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|]
    def get(perspective, opts = {})
      data, _status_code, _headers = get_with_http_info(perspective, opts)
      data
    end

    # Get the set of checks that are disabled for the given perspective.
    # @api private
    # @param perspective { 1. A Perspective defines a desired state, against which system health status is reported. }, { 2. The perspective for which to disable the checks. }
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|, Fixnum, Hash)>]  data, response status code and response headers
    def get_with_http_info(perspective, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HealthPerspectivesChecksDisabledApi.get ...'
      end
      # verify the required parameter 'perspective' is set
      if @api_client.config.client_side_validation && perspective.nil?
        fail ArgumentError, "Missing the required parameter 'perspective' when calling HealthPerspectivesChecksDisabledApi.get"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['INITIALIZATION', 'PLANNED_MAINTENANCE', 'BEFORE_EXIT_MAINTENANCE_MODE', 'CLUSTER_PLANNED_MAINTENANCE', 'CLUSTER_READY_FOR_APPLY'].include?(perspective)
        fail ArgumentError, "invalid value for 'perspective', must be one of INITIALIZATION, PLANNED_MAINTENANCE, BEFORE_EXIT_MAINTENANCE_MODE, CLUSTER_PLANNED_MAINTENANCE, CLUSTER_READY_FOR_APPLY"
      end
      # resource path
      local_var_path = '/api/esx/health/perspectives/{perspective}/checks/disabled'.sub('{' + 'perspective' + '}', perspective.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '200' => 'ESX::Array<String>',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '403' => 'ESX::VapiStdErrorsUnauthorized',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HealthPerspectivesChecksDisabledApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable the checks with the given IDs for all health status queries. No validation is done on whether the given IDs are valid.
    # @param perspective { 1. A Perspective defines a desired state, against which system health status is reported. }, { 2. The perspective for which to disable the checks. }
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :request_body 
    # @return [|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|nil]
    def set(perspective, opts = {})
      set_with_http_info(perspective, opts)
      nil
    end

    # Disable the checks with the given IDs for all health status queries. No validation is done on whether the given IDs are valid.
    # @api private
    # @param perspective { 1. A Perspective defines a desired state, against which system health status is reported. }, { 2. The perspective for which to disable the checks. }
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :request_body 
    # @return [Array<(|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|nil, Fixnum, Hash)>] nil, response status code and response headers
    def set_with_http_info(perspective, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HealthPerspectivesChecksDisabledApi.set ...'
      end
      # verify the required parameter 'perspective' is set
      if @api_client.config.client_side_validation && perspective.nil?
        fail ArgumentError, "Missing the required parameter 'perspective' when calling HealthPerspectivesChecksDisabledApi.set"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['INITIALIZATION', 'PLANNED_MAINTENANCE', 'BEFORE_EXIT_MAINTENANCE_MODE', 'CLUSTER_PLANNED_MAINTENANCE', 'CLUSTER_READY_FOR_APPLY'].include?(perspective)
        fail ArgumentError, "invalid value for 'perspective', must be one of INITIALIZATION, PLANNED_MAINTENANCE, BEFORE_EXIT_MAINTENANCE_MODE, CLUSTER_PLANNED_MAINTENANCE, CLUSTER_READY_FOR_APPLY"
      end
      # resource path
      local_var_path = '/api/esx/health/perspectives/{perspective}/checks/disabled'.sub('{' + 'perspective' + '}', perspective.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'request_body'])
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HealthPerspectivesChecksDisabledApi#set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
