# Copyright (c) 2018-2019 VMware, Inc.  All Rights Reserved.
# SPDX-License-Identifier: MIT

# DO NOT MODIFY. THIS CODE IS GENERATED. CHANGES WILL BE OVERWRITTEN.

# esx - No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)


require 'uri'

module VSphereAutomation
  module ESX
  class SettingsDepotContentHardwareSupportManifestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a list of currently available Hardware Support Package (HSP) manifests in the depot.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :vendors Vendors that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :managers HSM names that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :packages Packages names that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :package_versions Package versions that an HSP manifest must have to match the filter.
    # @option opts [String] :min_package_version Minimum version of an HSP in the manifest that can match the filter.
    # @option opts [Array<String>] :names Manifest names that an HSP manifest must have to match the filter.
    # @return [Array<EsxSettingsDepotContentHardwareSupportManifestsSummary>|VapiStdErrorsInvalidArgument|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # Returns a list of currently available Hardware Support Package (HSP) manifests in the depot.
    # @api private
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :vendors Vendors that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :managers HSM names that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :packages Packages names that an HSP manifest must have to match the filter.
    # @option opts [Array<String>] :package_versions Package versions that an HSP manifest must have to match the filter.
    # @option opts [String] :min_package_version Minimum version of an HSP in the manifest that can match the filter.
    # @option opts [Array<String>] :names Manifest names that an HSP manifest must have to match the filter.
    # @return [Array<(Array<EsxSettingsDepotContentHardwareSupportManifestsSummary>|VapiStdErrorsInvalidArgument|VapiStdErrorsUnauthenticated|VapiStdErrorsUnauthorized|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|, Fixnum, Hash)>]  data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettingsDepotContentHardwareSupportManifestsApi.list ...'
      end
      # resource path
      local_var_path = '/api/esx/settings/depot-content/hardware-support/manifests'

      # query parameters
      query_params = {}
      query_params[:'vendors'] = @api_client.build_collection_param(opts[:'vendors'], :multi) if !opts[:'vendors'].nil?
      query_params[:'managers'] = @api_client.build_collection_param(opts[:'managers'], :multi) if !opts[:'managers'].nil?
      query_params[:'packages'] = @api_client.build_collection_param(opts[:'packages'], :multi) if !opts[:'packages'].nil?
      query_params[:'package_versions'] = @api_client.build_collection_param(opts[:'package_versions'], :multi) if !opts[:'package_versions'].nil?
      query_params[:'min_package_version'] = opts[:'min_package_version'] if !opts[:'min_package_version'].nil?
      query_params[:'names'] = @api_client.build_collection_param(opts[:'names'], :multi) if !opts[:'names'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '200' => 'ESX::Array<EsxSettingsDepotContentHardwareSupportManifestsSummary>',
	  '400' => 'ESX::VapiStdErrorsInvalidArgument',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '403' => 'ESX::VapiStdErrorsUnauthorized',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	  '500' => 'ESX::VapiStdErrorsError',
	  '503' => 'ESX::VapiStdErrorsServiceUnavailable',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettingsDepotContentHardwareSupportManifestsApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
