# Copyright (c) 2018-2019 VMware, Inc.  All Rights Reserved.
# SPDX-License-Identifier: MIT

# DO NOT MODIFY. THIS CODE IS GENERATED. CHANGES WILL BE OVERWRITTEN.

# esx - No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)


require 'uri'

module VSphereAutomation
  module ESX
  class SettingsInternalSummaryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Summarize the compliance result of the clusters. The API will return the cluster summary with an empty compliance result and/or desired software specification if the service failed get this information from the database due to unexpected scenarios.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Identifier of the folder entity. Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @option opts [String] :datacenter Identifier of the datacenter entity Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @return [Hash<String, EsxSettingsInternalSummaryClusterSummary>|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|]
    def get(opts = {})
      data, _status_code, _headers = get_with_http_info(opts)
      data
    end

    # Summarize the compliance result of the clusters. The API will return the cluster summary with an empty compliance result and/or desired software specification if the service failed get this information from the database due to unexpected scenarios.
    # @api private
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Identifier of the folder entity. Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @option opts [String] :datacenter Identifier of the datacenter entity Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @return [Array<(Hash<String, EsxSettingsInternalSummaryClusterSummary>|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|, Fixnum, Hash)>]  data, response status code and response headers
    def get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettingsInternalSummaryApi.get ...'
      end
      # resource path
      local_var_path = '/api/esx/settings/internal/summary'

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'datacenter'] = opts[:'datacenter'] if !opts[:'datacenter'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '200' => 'ESX::Hash<String, EsxSettingsInternalSummaryClusterSummary>',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	  '500' => 'ESX::VapiStdErrorsError',
	  '503' => 'ESX::VapiStdErrorsServiceUnavailable',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettingsInternalSummaryApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Scans all the clusters to get their compliance information against its respective desired state.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Identifier of the folder entity. Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @option opts [String] :datacenter Identifier of the datacenter entity Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @return [String|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|]
    def scan_task(opts = {})
      data, _status_code, _headers = scan_task_with_http_info(opts)
      data
    end

    # Scans all the clusters to get their compliance information against its respective desired state.
    # @api private
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder Identifier of the folder entity. Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @option opts [String] :datacenter Identifier of the datacenter entity Exactly one of {@name #folder} or {@name #datacenter} must be specified.
    # @return [Array<(String|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|, Fixnum, Hash)>]  data, response status code and response headers
    def scan_task_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettingsInternalSummaryApi.scan_task ...'
      end
      # resource path
      local_var_path = '/api/esx/settings/internal/summary?action=scan&vmw-task=true'

      # query parameters
      query_params = {}
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'datacenter'] = opts[:'datacenter'] if !opts[:'datacenter'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '202' => 'ESX::String',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	  '500' => 'ESX::VapiStdErrorsError',
	  '503' => 'ESX::VapiStdErrorsServiceUnavailable',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettingsInternalSummaryApi#scan_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
