# Copyright (c) 2018-2019 VMware, Inc.  All Rights Reserved.
# SPDX-License-Identifier: MIT

# DO NOT MODIFY. THIS CODE IS GENERATED. CHANGES WILL BE OVERWRITTEN.

# esx - No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)


require 'uri'

module VSphereAutomation
  module ESX
  class SettingsClustersSoftwareSolutionsBeingAppliedInternalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the components registered for the given solution in the software specification that is being considered to be applied.
    # @param cluster Identifier of the cluster.
    # @param solution Identifier of the solution.
    # @param [Hash] opts the optional parameters
    # @return [EsxSettingsSolutionInfo|VapiStdErrorsNotAllowedInCurrentState|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|]
    def get(cluster, solution, opts = {})
      data, _status_code, _headers = get_with_http_info(cluster, solution, opts)
      data
    end

    # Returns the components registered for the given solution in the software specification that is being considered to be applied.
    # @api private
    # @param cluster Identifier of the cluster.
    # @param solution Identifier of the solution.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EsxSettingsSolutionInfo|VapiStdErrorsNotAllowedInCurrentState|VapiStdErrorsUnauthenticated|VapiStdErrorsNotFound|VapiStdErrorsError|VapiStdErrorsServiceUnavailable|, Fixnum, Hash)>]  data, response status code and response headers
    def get_with_http_info(cluster, solution, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettingsClustersSoftwareSolutionsBeingAppliedInternalApi.get ...'
      end
      # verify the required parameter 'cluster' is set
      if @api_client.config.client_side_validation && cluster.nil?
        fail ArgumentError, "Missing the required parameter 'cluster' when calling SettingsClustersSoftwareSolutionsBeingAppliedInternalApi.get"
      end
      # verify the required parameter 'solution' is set
      if @api_client.config.client_side_validation && solution.nil?
        fail ArgumentError, "Missing the required parameter 'solution' when calling SettingsClustersSoftwareSolutionsBeingAppliedInternalApi.get"
      end
      # resource path
      local_var_path = '/api/esx/settings/clusters/{cluster}/software/solutions-being-applied-internal/{solution}'.sub('{' + 'cluster' + '}', cluster.to_s).sub('{' + 'solution' + '}', solution.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
	:return_type => {
	  '200' => 'ESX::EsxSettingsSolutionInfo',
	  '400' => 'ESX::VapiStdErrorsNotAllowedInCurrentState',
	  '401' => 'ESX::VapiStdErrorsUnauthenticated',
	  '404' => 'ESX::VapiStdErrorsNotFound',
	  '500' => 'ESX::VapiStdErrorsError',
	  '503' => 'ESX::VapiStdErrorsServiceUnavailable',
	})
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettingsClustersSoftwareSolutionsBeingAppliedInternalApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end
